html, body {
    height: 100%;    
}

body {
    font-size: 16px;
}

header {
    font-weight: bold;
    font-size: 120%;
    padding: 0 0 1em 0;
}

section, header {
    min-width: 220px; 
    max-width: 320px;
    margin: 0 auto;
}

input, textarea, button {
    width: 100%;
}

.right {
    float: right;
}

.col-70 {
    width: 70%;
    display: inline-block;
}

.hidden {
    display: none;
}

.lbl-tip {
    color:grey;
    font-size: small;
}

section.form .opt-lbl-row {
    padding-bottom: 0.5em;
}

section.form label {
    display: block;
    padding: 0 0 1em 0;    
}

/*validation*/
.submitted :invalid, .invalid {
    border: 1px dashed red;
    background:  rgb(252, 174, 174, 0.2) 
}

.err {
    color: red;
    font-size: small;
}