header {
    font-weight: bold;
    font-size: 120%;
    padding: 0 0 1em 0;
}

section, header {
    width: 320px; 
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.lbl-tip {
    color:grey;
    font-size: small;
}

section.form label {
    display: block;
    padding: 0 0 1em 0;    
}

/*validation*/
/*.step.submitted input:invalid {*/
    .submitted :invalid, .invalid {
    border: 1px dashed red;
    background:  rgb(252, 174, 174, 0.2) 
}