/*base rules*/

section.form .lbl {
    width: 15%;
    display: inline-block;
}

section.form .date {
    width: 40%;
}

section.form .time {
    width: 23%;
}


/*concrete elements rules*/
#event-name, #event-type, #event-host, #event-guests, #event-location, #event-msg {
    width: 100%;
}

.event-end input{
    vertical-align: top;
}

.event-end .lbl {
    margin-top: 0.15em;
}
