input {
    width: 100%;
}

.info {
    color: grey;
    font-weight: bold;
    padding: 0 0 0.5em 0;
    display: block;
}

label:after {
    content: attr(data-invalid);
    color: red;
    font-size: small;
}

section.form .lbl {
    width: 20%;
    display: inline-block;
}

section.form .date {
    width: 40%;
    vertical-align: top;
}